.logo{
    background-color: #4aaaa5;
    text-align: center;
    color: white;
    font-size: 300%;
    font-family: Georgia, Times, "Times New Roman", serif;
}

.ph1{
    margin-left: 25%;
    color: #4aaaa5;
    font-family: Georgia, Times, "Times New Roman", serif;
}

.cards1{
    margin-left: 20%;
}
.cards2{
    margin-left: 20%;
}
.cards3{
    margin-left: 20%;
}
footer{
    text-align: center;
    background-color: #4aaaa5;
    color: white;
    font-size: 200%;
}